
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');      

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

:root{
--body-color: #E4E9F7;
--sidebar-color: #FFF;
--primary-color: #695CFE;
--primary-color-light: #F6F5FF;
--toggle-color: #DDD;
--text-color: #707070;
--tran-03: all 0.2s ease;
--tran-03: all 0.3s ease;
--tran-04: all 0.3s ease;
--tran-05: all 0.3s ease;

}
body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}
body.dark .sidebar .m li a:hover .icon,
body.dark .sidebar li a:hover .text,
.container,
.form,nav{
    color: var(--text-color);
}
/* Style for the home container */
.home {
    position: absolute; /* Position the home container absolutely to control its placement */
    top: 0; /* Align to the top of the page */
    left: 62px; /* Start positioning after the sidebar */
    padding-top: 60px; /* Add padding to the top to create space from the top of the page */
    display: flex; /* Use flexbox for easy alignment of child elements */
    justify-content: center; /* Center elements horizontally */
    align-items: center; /* Center elements vertically */
    width: calc(100% - 62px); /* Make the home container take the full width minus the sidebar width */
    min-height: 100vh; /* Make the home container take the full height of the viewport */
    background-color: var(--body-color); /* Set the background color using a CSS variable */
    transition: var(--tran-05); /* Add a transition effect for smooth changes */
}

/* Style for the text inside the home container */
.home .text {
    font-size: 30px; /* Set font size */
    font-weight: 500; /* Set font weight */
    color: var(--text-color); /* Set text color using a CSS variable */
    padding: 12px 60px; /* Add padding around the text */
}
.container {
    position: relative; 
    background: var(--body-color);
    padding: 20px;
    border-radius: 10px;
   /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    max-width: 1200px;
    width: 100%;
}
body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}
body.dark .sidebar header .toggle .home{
    color: var(--text-color);
    
}
body .dark {
    background:var(--body-color);
}
.vr {
    border-left: 1px solid black;
    height: 100px;
    margin: 0 10px;
}
  

  


